<p>Enter Info Into the Database<p>

<form action= "/" method ="get">
<p><input = "text" name ="first">First Name</p>
<p><input = "text" name ="last">Last Name</p>
<p><input = "text" name ="gender">Gender</p>
<p><input = "text" name ="age">Age</p>
<p><input = "text" name ="phone number">Phone Number</p>
<button>Submit to the Database</button>
</form>